footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 5rem 0rem;
    margin-top: 3rem;
}

footer hr {
    padding-bottom: 3rem;
    border-right: none;
    border-left: none;
    margin-bottom: 2rem;
}